@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }
}

body {
  @apply min-h-screen bg-zinc-50 selection:bg-zinc-700 text-zinc-700 selection:text-zinc-50;
}

::-webkit-scrollbar {
  @apply w-0;
}

.formInputStyle {
  @apply bg-transparent border-2 w-full outline-none py-2.5 px-2 rounded-md focus:border-opacity-80 border-zinc-400 border-opacity-40 placeholder:text-zinc-300 text-sm;
}
